@import './src/style/Perfil.scss';
@import './src/style/Performance.scss';
@import './src/style/Details.scss';



.main-container{
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: 400px 300px;
    user-select: none;

}
.performance{
    visibility: hidden;
}
