$title-font: 'Anton', sans-serif;
$subtitle-font: 'Montserrat';
$main-color: #242830;


@mixin positions-line($position,$bottom:0,$left:0){
    position: $position;
    bottom: $bottom;
    left: $left;

}
.perfil{
    height: 100%;
    grid-column: 1/2;


    h1{
        font-family: $title-font;
        font-size: 100px;
        font-weight: 500;
        margin-left: 50px;
        color: $main-color;
        font-size: 100px;
    }
    p{
        font-size: 20px;
        letter-spacing: 2px;
        font-family: $subtitle-font;
        color: $main-color;
    }
    .line{
        border: 2px solid $main-color;
        width: 100px;
    }
    .line1{
        @include positions-line(relative,120px,320px );
    }
    .line2{
       @include positions-line(relative,120px,120px )
    }
}